---
# front-matter
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

/* solarized light syntax highlighting (base16) */
$base00: #010000;
$base01: #010000;
$base02: #010000;
$base03: #010000;
$base04: #010000;
$base05: #010000;
$base06: #010000;
$base07: #010000;
$base08: #010000;
$base09: #010000;
$base0a: #010000;
$base0b: #010000;
$base0c: #010000;
$base0d: #010000;
$base0e: #010000;
$base0f: #010000;
@import "minimal-mistakes"; // main partials
